pkgbase = chimera
	pkgdesc = Configure and manage games in Steam
	pkgver = 0.14.2
	pkgrel = 1
	url = https://github.com/pastaq/chimera
	arch = any
	license = MIT
	depends = python
	depends = python-bottle
	depends = python-pyftpdlib
	depends = python-yaml
	depends = python-vdf
	depends = python-inotify-simple
	depends = python-requests
	depends = python-beaker
	depends = python-pygame
	depends = python-bcrypt
	depends = python-psutil
	depends = retroarch
	depends = libretro-genesis-plus-gx
	depends = libretro-mgba
	depends = libretro-nestopia
	depends = libretro-snes9x
	depends = libretro-mupen64plus-next
	depends = libretro-beetle-pce-fast
	depends = libretro-flycast
	depends = libretro-beetle-psx-hw
	depends = libretro-play
	depends = libretro-kronos
	depends = libretro-dolphin
	depends = retroarch-autoconfig-udev-git
	depends = flatpak
	depends = xdotool
	depends = ponymix
	depends = libretro-picodrive
	depends = legendary
	depends = ttf-dejavu
	depends = wyvern
	depends = innoextract
	depends = mesa-utils
	optdepends = libretro-mame-git
	optdepends = libretro-stella2014-git
	optdepends = libretro-opera-git
	optdepends = srt-live-server
	provides = steam-tweaks
	provides = steam-buddy
	conflicts = steam-tweaks
	conflicts = steam-buddy
	source = chimera::git+https://github.com/pastaq/chimera.git
	md5sums = bb48df68d89e8c8a5917614e6df77403

pkgname = chimera
