[Unit]
Description=Chimera

[Service]
WorkingDirectory=/usr/share/chimera
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/chimera
Restart=always

[Install]
WantedBy=default.target
