[Unit]
Description=Chimera Cart Monitor - Automatically launch games from physical cartridges
Requires=dev-gboperator.device
After=dev-gboperator.device

[Service]
ExecStart=/usr/share/chimera/bin/chimera-cart-monitor
Restart=always

[Install]
WantedBy=default.target
