[Unit]
Description=SteamBuddy
After=network-online.target

[Service]
ProtectSystem=strict
ReadWritePaths=/var/lib/steam-buddy /tmp /var/lib/flatpak /var/tmp
WorkingDirectory=/usr/share/steam-buddy
ExecStart=/usr/share/steam-buddy/steam-buddy
Restart=on-abort

[Install]
WantedBy=multi-user.target
