[Unit]
Requires=steam-buddy@%i.service
After=steam-buddy@%i.service
Requires=steam-buddy-proxy@%i.socket
After=steam-buddy-proxy@%i.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:8844

[Install]
RequiredBy=steam-buddy-proxy@%i.socket
