[Unit]
Description=SteamBuddy for %i
After=network-online.target

[Service]
User=%i
WorkingDirectory=/usr/share/steam-buddy
ExecStart=/usr/share/steam-buddy/steam-buddy
Restart=on-abort
PrivateTmp=yes
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
RequiredBy=steam-buddy-proxy@%i.service
