[Unit]
Requires=steam-buddy-proxy.socket
After=steam-buddy-proxy.socket

[Service]
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:8844

[Install]
RequiredBy=steam-buddy-proxy.socket
