a:link {
  text-decoration: none;
  color: #ffda94;
}

a:visited {
  text-decoration: none;
  color: #ffda94;
}

a:hover {
    text-decoration: none;
    color: #d74c22;
}

a:active {
    text-decoration: none;
}

p.placeholder {
    color: #666666;
    font-size: 22px;
}

h2 {
    color: #d74c22;
}

h3 {
    color: #ffda94;
}

#progress {
    display: inline;
}

.flathub {
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #888888, #666666) 1 1;
}

.flathub h3 {
    color: #000000;
    position: relative;
}

.hidden {
    opacity: 0.6
}

.new-shortcut {
    width: 460px;
    height: 215px;
    color: white;
    background-color: #3268a8;
}

.img-container {
    position: relative;
    display: inline-block;
    margin: 16px;
    padding: 0px;
    height: 116px;
    width: 248px;
    background-color: #333333;
}

.img-container:hover {
    outline: 4px solid #ffda94;
}

.img-container.noborder:hover {
    outline: none;
}

.img-container.selected {
    outline: 4px solid #ffda94;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}

.missing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-size: 24px;
    font-family: arial;
    margin: 0px;
    background-color: #230512;
    color: white;
}

form {
    max-width: 700px;
    margin: auto;
}

.content {
    width: 90%;
    margin: auto;
    text-align: center;
}

.action-content {
    width: 100%;
    text-align: center;
    margin-top: -9px;
}

.left-content {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    max-width: 850px;
    padding: 5px;
}

button {
    background-color: #961937;
    color: #ffda94;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 24px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffda94;
}

button:hover {
    background-color: #5d1c27;
    border-color: #d74c22;
    color: #d74c22
}

a.button {
    display: block;
    background-color: #961937;
    border: none;
    color: #ffda94;
    padding: 15px;
    margin: 30px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #ffda94;
}

a.button:hover {
    background-color: #5d1c27;
    border-color: #d74c22;
    color: #d74c22
}

h4 {
    margin-top : 70px;
    color: #ffda94;
}

.left {
    text-align: left;
}

.delete {
    margin-top: 30px;
    background-color: #961937;/* #F72A2A;*/
}

.info-link {
    color: blue !important;
    text-decoration: underline !important;
    font-size: 16px !important;
}

input {
    font-size: 24px;
}

input[type=text] {
    width: 100%;
    font-size: 28px;
}

input[type=file] {
    width: 100%;
}

input[type=checkbox] {
    transform: scale(2.0);
}

table[class=settings] {
    width: 100%;
    font-size: 24px;
}
table[class=settings] th {
    text-align: left;
}

.filepond {
    padding-bottom: 40px;
}

.label {
    padding: 40px 0px 10px 0px;
    color: #d74c22;
    font-weight: 600;
}

.header {
    background-color: #961937;
    width: 100%;
    min-height: 64px;
    color: white;
    padding: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.menuitems {
    margin-top: 64px;
    min-height: 100%;
    display: none;
}

.menuitems a {
    margin-top: 28px;
    font-size: 28px;
    display: block;
}

#mainmenuicon {
    display: block;
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 40px;
}

.action {
    display: flex;
    background-color:#333333;
    margin : 1px;
    font-size: 24px;
    justify-content : center;
    padding : 20px 0;
}

.action i {
    padding-right : 8px;
}

.action:hover {
    background-color: #555555;
}

.volume {
    border-left : 1px solid white;
    border-right : 1px solid white;
    padding : 20px 0;
    margin : -20px 0;
    flex-grow: 1;
    background-color:#333333;
}

.volume i {
    position: relative;
    top: 4px;
}

.volume:hover {
    background-color: #555555;

}

.volume-up {
    padding : 20px 0;
    margin : -20px 0;
    flex-grow: 1;
    background-color:#333333;

}

.volume-up:hover {
    background-color: #555555;
}

.volume-down {
    padding : 20px 0;
    margin : -20px 0;
    flex-grow: 1;
    background-color:#333333;
}

.volume-down:hover {
    background-color: #555555;
}

.game-name-suggestion {
  position: relative;
  display: inline-block;
  width: 100%;
  background: #3268a8;
  color: white;
  border: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  cursor: pointer;
}
.game-image-suggestion {
  cursor: pointer;
}
.game-name-suggestion:hover {
    background: #10131c;
}
.steamgridapi {
    position: relative;
    display: inline-block;
}

.tabs {
    margin-bottom: 20px;
}

.tab {
    width: 33.3%;
    background: #548aca;
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#game-images {
    text-align: center;
}

.tab.selected {
    background: #3268a8;
}

.tab.left {
    border-radius: 5px 0px 0px 5px;
}

.tab.right {
    border-radius: 0px 5px 5px 0px;
}

#banner-url {
    width: 100%;
}

p.platform-login-description {
    text-align: center;
}

p.platform-login-description a {
    color: darkslategray;
    text-decoration: underline;
}

p.platform-login-description a:hover {
    color: slategray;
}

.status-badge {
    border: 2px solid black;
    display: inline-grid;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.notes {
    list-style: none;
}

.notes li:before {
    content: "⚠️";
    margin: 0 10px 0 0;
}
