[Unit]
Description=Chimera Cart Monitor - Automatically launch games from physical cartridges
ConditionPathExists=|/dev/gboperator
ConditionPathExists=|/dev/migflashdumper

[Service]
ExecStart=/usr/libexec/chimera/chimera-cart-monitor
Restart=always

[Install]
WantedBy=default.target
